:root{
    font-size: 0.5em;
    --color1: #7672f2;
    --color2: #383673;
    --color3: #2d2f59;
    --color4: #6e7073;
    --color5: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'sans-serif';
    letter-spacing: 3px;
    font-size: 1.2em;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color5);
    width: 100vw;
    overflow-x: hidden;
}

main{
    position: relative;
}

.texts > p{
    padding: 0px 200px;
}

section#interation{
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

section#interation > section.produtos{
    width: 100vw;
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: var(--color5);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--color2);
}


h1.menu{
    background: linear-gradient(to right, var(--color1) 40%, transparent);
    width: 100vw;
    text-align: center;
    color: var(--color5);
    padding: 30px 0px;
    font-size: 1.8em;
    text-transform: capitalize;
}

section#interation{
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

section#interation > section.produtos > section {
    width: 40vw;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 50px;
    padding-bottom: 70px;
    position: relative;
    margin: 10px 0px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 1px 0px rgba(0, 0, 0, 0.360);
    background-color: #ffffff;
    transition: .5s;
}

section#interation > section.produtos > section > button.btn{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    border: none;
    color: var(--color5);
    background-color: var(--color1);
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 8px 0px;
    z-index: 4;
}

section#interation > section.produtos > section > img.brigadeiro {
    width: 210px;
    height: auto;
}

section#interation > section.produtos > section > img.amendoin {
    width: 100px;
    height: auto;
}

div.tables{
    margin-top: 10px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

div.tables > div.table{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
    background-color: #ffffff;
}

#nutricional_amendoin{
    position: relative;
    right: -100%
}

#nutricional_brigadeiro{
    position: relative;
    right: -100%
}

div.tables > div.table > h1{
    text-align: center;
    font-size: 1.7em;
    margin: 10px 0px;
}