:root{
    font-size: 0.5em;
    --color1: #7672f2;
    --color2: #383673;
    --color3: #2d2f59;
    --color4: #6e7073;
    --color5: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'sans-serif';
    letter-spacing: 3px;
    font-size: 1.2em;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--color5);
    width: 100vw;
    overflow-x: hidden;
}


body::-webkit-scrollbar{
    width: 10px;
    background-color: var(--color5);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--color3);
}


main > header {
    background-color: var(--color2);
    position: sticky;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

main > header > a{
    text-decoration: none;
}

main > header > a > h1{
    font-size: 2em;
    text-align: center;
    text-transform: capitalize;
    color: var(--color5);
    padding: 10px 0px;
}


section#interation{
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: var(--color5);
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 50px;
}

section#interation > section.produtos{
    width: 100vw;
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

section#interation > section.produtos > section {
    width: 85%;
    display: flex;
    height: 270px;
    align-items: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 50px;
    padding-bottom: 70px;
    position: relative;
    margin: 10px 0px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 8px 8px 1px 0px rgba(0, 0, 0, 0.360);
    background-color: #ffffff;
    transition: .5s;
}

section#interation > section.produtos > section > button.btn{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    border: none;
    color: var(--color5);
    background-color: var(--color1);
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 8px 0px;
    z-index: 4;
    cursor: pointer;
}

section#interation > section.produtos > section > img.brigadeiro {
    width: 310px;
    height: auto;
}

section#interation > section.produtos > section > img.amendoin {
    width: 170px;
    height: auto;
}

div.tables{
    margin-top: 40px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden;
    padding-bottom: 50px;
}

div.tables > div.table > h1{
    text-align: center;
    font-size: 1.7em;
    margin: 10px 0px;
}

div.tables > div.table{
    width: 85%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid black;
    background-color: #ffffff;
}

table{
    border-collapse: collapse;
    margin: 20px;
    width: 90%;
    background-color: #ffffff;
}

td{
    padding: 4px 0px;
    text-align: left;
    font-size: 0.35em;
}

.text_right{
    text-align: right;
}

.text_destaque{
    font-weight: bolder;
    font-size: 0.40em;
    color: var(--color1);
    text-decoration: underline;
}

div.span{
    height: 4px;
    background-color: black;
    margin: 4px;
    width: 98%;
}

#nutricional_amendoin,
#nutricional_brigadeiro{
    display: none;
}

.bounceInRight {
    animation: bounceInRight; 
    animation-duration: 1.7s;
}


.bounceInLeft {
    animation: bounceInLeft; 
    animation-duration: 1.2s;
}

.bcg{
    width: 100vw;
    height: 100vh;background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bcg  > h2{
    color: #ffffff;
    font-size: 2.7em;
    text-align: center;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.bg1{
    background-image: url('../imgs/bg1.jpg');
}

.bg2{
    background-image: url('../imgs/bc2.avif');
}

.texts{
    padding: 10px;
    width: 100vw;
    min-height: 100vh;
}

.texts > p{
    padding: 10px;
    margin: 20px 0px;
    line-height: 1.8em;
    font-size: 1.5em;
}